
<div class="footer">
    <div class="icons-table">
      <table  cellspacing="25px">
    <tr>  
      <td>
       <p>   
         <strong style="color:#19323C;">CONTACT ME:</strong> 
        <ul class="footer-list">
          <li style="color:#19323C">prabhat.rao@iitg.ac.in   </li>
          <li style="color:#19323C">prabhatraoabcd@gmail.com </li>
          <li style="color:#19323C">Slack: AltruisticHome    </li>
        </ul>
        </p>
      </td>     
      <td>
        <a class="table-link" style="  color:#19323C; padding-left:10px; " href='https://www.facebook.com/prabhat.rao.7946/'><i          class="fa fa-lg fa-facebook-square fa-2x"       aria-hidden="true"></i></a>
      </td>
      <td>
        <a class="table-link" style="  color:#19323C;  padding-left:10px; " href='https://www.linkedin.com/in/prabhat-rao-5b535b178/'><i         class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
      </td>
      <td>
          <a class="table-link" style=" color:#19323C; padding-left:10px;" href='https://github.com/joat28'><i         class="fa fa-2x fa-lg fa-github-square"           aria-hidden="true"></i>  
          </a>
     </td>
      </tr>
      </table>
   </div>
  </div>


</body>
</html>