<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <div class="header-nav">
        <nav>   
         <ul class="my-navbar-list">
            <a href="/">         <li class="logo-header nav-li"> HOME</li>    </a> 
            <a href="/compose">  <li class="nav-li">             COMPOSE</li>    </a> 
            <a href="/about">    <li class="nav-li">             ABOUT</li>    </a>
            <a href="/readpost"> <li class="nav-li">             EDIT</li>    </a>
           <a href="/contact">   <li class="nav-li">             CONTACT</li>     </a>
          </ul>
        </nav>
      </div>  
