<%- include("partials/header"); -%>

<div style="margin:auto; text-align:center;">
    <img src="images/Random2.jpg" atl="blog-image" class="home-image">
    <div style="text-align:center; margin-top:60px; margin-bottom:100px;">
    <a href="/user/login"><button > LOGIN</button></a>
    <a href="/user/register"><button > SIGN UP</button></a>
    </div>
</div>

<%- include("partials/footer"); -%>