<%- include("partials/header"); -%>

<div style="margin:auto; text-align:center;">
    <img src="https://images.unsplash.com/photo-1482192505345-5655af888cc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2300&q=80" atl="blog-image" class="home-image">
    <div style="text-align:center; margin-top:60px; margin-bottom:100px;">
    <a href="/user/login"><button > LOGIN</button></a>
    <a href="/user/register"><button > SIGN UP</button></a>
    </div>
</div>

<%- include("partials/footer"); -%>