<%- include("partials/header"); -%>
<h1 style="text-align:center">EDIT PROFILE</h1>


<div class="visible-background"  style=" padding: 40px">
    <h3 class="span-h3">Edit Details:</h3>
    <form action="/user/edit" method="POST">
        <span class="span-h3">Enter New username: </span>
            <input type="text" value="<%= userObject.username %>" name="newUserName">
        <button type="submit">Update</button>
    </form>
</div>





<%- include("partials/footer"); -%>