<%- include("partials/header"); -%>
<h1 style="text-align:center">Profile Page</h1>


<div>
    <h3>Edit Details:</h3>
    <form action="/user/edit" method="POST">
        <span>Enter New username</span>
            <input type="text" value="<%= userObject.fullName %>" name="newUserName">
        <button type="submit">Update</button>
    </form>
</div>





<%- include("partials/footer"); -%>