<%- include("partials/header"); -%>
<h1 style="text-align:center">Read Post page</h1>








<div class="read-post">
    <h3><%=blogToRender.blogTitle%></h3>
    <p><%= blogToRender.blogContent%> %></p>
</div>






<%- include("partials/footer"); -%>